.google-banner {
    background-image: url('../../../public/assets/images/Google-Pay-Banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px
}

.arrow-icon {
    background: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

.google-play-img {
    max-width: 13%;
    padding: 5px;
}

.modal-bottom {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
}

.modal-bottom .modal-content {
    border-radius: 15px 15px 0 0;
}

.modal-container {
    max-width: 40%;
    margin: auto;
}

.amount-forms .input-container {
    position: relative;
    margin: 20px 0;
}

.amount-forms .input-container label {
    position: absolute;
    top: -10px;
    left: 12px;
    background: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #555;
}

.amount-forms .input-container input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.amount-forms .input-container input:focus {
    border-color: #007bff;
}

@media(max-width:425px) {
    .modal-container {
        max-width: 100%;
        margin: auto;
    }
}